# build artifacts (VB)
.generated_files/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# added by VB
*.elf
*.hex
*s~
*h~
*c~
*.swp
*.bak
*.un~
Lab-11-Sort/firmware/sort_starter_project.X/dist/sam_e51_cnano/debug/memoryfile.xml
Lab-11-Sort/firmware/sort_starter_project.X/dist/sam_e51_cnano/debug/sort_starter_project.X.debug.map
Lab-11-Sort/firmware/sort_starter_project.X/dist/sam_e51_cnano/production/memoryfile.xml
Lab-11-Sort/firmware/sort_starter_project.X/dist/sam_e51_cnano/production/sort_starter_project.X.production.map
Lab-11-Sort/hex/MPLABXLog.xml
